body{
    background-color:cornsilk;
}
h1{
    color: gold;
    border: 2px solid royalblue;
    margin: 10px;
}
span{
    color:azure;
    font-weight: bold;
    opacity: 75;
    border: 2px dashed azure;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color:darkblue;
}
h2{
    color:darkgreen;
}
ul{
    color:darkslategray;
}
ol{
    color:darkslategray;
}
img{
    width:70%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}